In [71]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline

In [72]:
# Set the names of the columns for the two datasets

names_iris = ['Sepal Length', 'Sepal Width', 'Petal Length', 'Petal Width', 'Class']
names_indians = ['Times Pregnant', 'Glucose Concentration', 'Blood Pressure', 'Skin Thickness',
                 'Serum Insulin', 'BMI', 'Pedigree Function', 'Age', 'Class']

In [73]:
# Read the files into dataframes

df_iris = pd.read_csv('iris.csv', names=names_iris)
df_indians = pd.read_csv('pima-indians-diabetes.csv', names=names_indians)

In [74]:
df_iris.head()

   Sepal Length  Sepal Width  Petal Length  Petal Width        Class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [75]:
df_indians.head()

,Times Pregnant,Glucose Concentration,Blood Pressure,Skin Thickness,Serum Insulin,BMI,Pedigree Function,Age,Class
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [76]:
df_iris.dtypes

Sepal Length    float64
Sepal Width     float64
Petal Length    float64
Petal Width     float64
Class            object
dtype: object

In [77]:
# Convert the class of the Iris dataset to numerical type

df_iris['Class'] = df_iris['Class'].map({'Iris-setosa': 0, 'Iris-versicolor': 1, 'Iris-virginica': 2})

In [78]:
df_indians.dtypes

Times Pregnant             int64
Glucose Concentration      int64
Blood Pressure             int64
Skin Thickness             int64
Serum Insulin              int64
BMI                      float64
Pedigree Function        float64
Age                        int64
Class                      int64
dtype: object

In [79]:
# Display the number of null data observations

print('NaNs in Iris dataset: ', df_iris.isnull().values.sum())
print('NaNs in Pima-Indians-Diabetes dataset: ', df_indians.isnull().values.sum())

NaNs in Iris dataset:  0
NaNs in Pima-Indians-Diabetes dataset:  0

In [80]:
# Standardize the features

#df_iris.iloc[:, :-1] = (df_iris - df_iris.mean()) / df_iris.std()
#df_indians.iloc[:, :-1] = (df_indians - df_indians.mean()) / df_indians.std()

In [81]:
# Create X and y for both datasets

X_iris = df_iris.iloc[:, :-1]
bias_iris = np.ones([len(df_iris), 1])
X_iris = np.concatenate((bias_iris, X_iris), axis=1)
y_iris = df_iris.iloc[:, -1].values

X_indians = df_indians.iloc[:, :-1]
bias_indians = np.ones([len(df_indians), 1])
X_indians = np.concatenate((bias_indians, X_indians), axis=1)
y_indians = df_indians.iloc[:, -1].values

In [ ]:
# Perceptron